# For the iCE40 UltraPlus (iCE40UP5K-QFN) Breakout Board

set_io LED[0] 25
set_io LED[1] 23
set_io LED[2] 27
set_io LED[3] 26
set_io LED[4] 28
set_io LED[5] 31
set_io LED[6] 32
set_io LED[7] 34

set_io SW[0] 37
set_io SW[1] 42
set_io SW[2] 43
set_io SW[3] 38

set_io CLK 35

#spi
set_io -pullup yes -pullup_resistor 3P3K SPI_SS   16
set_io -pullup yes -pullup_resistor 3P3K SPI_SCK  15
set_io -pullup yes -pullup_resistor 3P3K SPI_MOSI 17
set_io -pullup yes -pullup_resistor 3P3K SPI_MISO 14

